* {
	margin: 0;
	box-sizing: border-box;
  }
  
  // couleur des backgrounds palette
$background-linear-gradient-color_1:#ff79da;
$background-linear-gradient-color_2:#9356dc;
$main-restaurant-card-color_3:white;
$placeholder-color_4:#eaeaea;
$hero-color_5:whitesmoke;
$main-list-color_6:#F6F6F6;
$badge-color_7:#99E2D0;
$background-color-footer:#353535;
//  couleur des textes
$text-color-placehoder:black;
$text-color-btn:white;
$text-color-icone-fonctionnement:#7E7E7E;
$text-color-icone-fonctionnement-hover:#9356DC;
$text-color-badge:#008766;

// REM font-sizes
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-28:1.75rem;
$fs-48: 3rem;

// font-weight
$fw-200:200;
$fw-300:300;
$fw-400:400;
$fw-500:500;
$fw-600:600;
$fw-700:700;
// police des textes font

$title-font-shrikhand:"shrikand";
$input-place-holder:"roboto";


.contenu {
	animation: cache-main 6s;
  }
  
  @keyframes cache-main {
	0% {
	  opacity: 0;
	}
  
	50% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  }
  
  /* **************************************************** */
  
  .contenu-loader {
	animation: cache-loader-main 3s;
	animation-fill-mode: forwards;
  }
  
  @keyframes cache-loader-main {
	0% {
	  opacity: 1;
	}
  
	50% {
	  opacity: 1;
	}
  
	99% {
	  opacity: 1;
	}
  
	100% {
	  opacity: 0;
	}
  }
  
  .loader-wrapper {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
  
	.packman {
	  &::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 25px;
		background-color: $background-linear-gradient-color_1;
		border-radius: 100px 100px 0 0;
		transform: translate(-50%, -50%);
		animation: pac-top 0.5s linear infinite;
		transform-origin: center bottom;
	  }
  
	  &::after {
		content: '';
		position: absolute;
		width: 50px;
		height: 25px;
		background-color: $background-linear-gradient-color_2;
		border-radius: 0 0 100px 100px;
		transform: translate(-50%, 50%);
		animation: pac-bot 0.5s linear infinite;
		transform-origin: center top;
	  }
	}
  }
  
  @keyframes pac-top {
	0% {
	  transform: translate(-50%, -50%) rotate(0);
	}
  
	50% {
	  transform: translate(-50%, -50%) rotate(-30deg);
	}
  
	100% {
	  transform: translate(-50%, -50%) rotate(0);
	}
  }
  
  @keyframes pac-bot {
	0% {
	  transform: translate(-50%, 50%) rotate(0);
	}
  
	50% {
	  transform: translate(-50%, 50%) rotate(30deg);
	}
  
	100% {
	  transform: translate(-50%, 50%) rotate(0);
	}
  }
  
  .dots .dot {
	position: absolute;
	z-index: -1;
	top: 8px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: linear-gradient(162deg, $background-linear-gradient-color_1 0%, $background-linear-gradient-color_2 100%);
  
	&:nth-child(1) {
	  left: 90px;
	  animation: dot-stage1 0.5s infinite;
	}
  
	&:nth-child(2) {
	  left: 60px;
	  animation: dot-stage1 0.5s infinite;
	}
  
	&:nth-child(3) {
	  left: 30px;
	  animation: dot-stage1 0.5s infinite;
	}
  
	&:nth-child(4) {
	  left: 10px;
	  animation: dot-stage2 0.5s infinite;
	}
  }
  
  .pack {
	display: flex;
	justify-content: center;
	background: $main-restaurant-card-color_3;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 100;
	align-items: center;
	animation: dot-stage1;
  }
  
  @keyframes dot-stage1 {
	0% {
	  transform: translate(0, 0);
	}
  
	100% {
	  transform: translate(-24px, 0);
	}
  }
  
  @keyframes dot-stage2 {
	0% {
	  transform: scale(1);
	}
  
	5%, 100% {
	  transform: scale(0);
	}
  }
  
  /* **************************************************** */
  
 
  html {
	font-size: 62.5%;
	line-height: 1.3;
  }
  
  body {
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
	margin: 0 0;
  }
  
  a {
	color: inherit;
	text-decoration: none;
  }
  
  .header {
	background: $main-restaurant-card-color_3;
	z-index: 2;
	font-family: "Shrikhand", cursive;
	font-size: 2.5rem;
	height: 6rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
  
	.backLink {
	  margin-left: 2rem;
	  position: absolute;
	  cursor: pointer;
	  display: flex;
	  align-items: center;
	}
  
	.header-logo {
	  margin: auto;
	  height: 3rem;
	}
  }
  
  /* *****placeholder*************** */
  
  .icon {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .location-item {
	background: $placeholder-color_4;
	font-weight: $fw-500;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
  }
  
  .custom-input {
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	outline: none;
	background-color:$placeholder-color_4;
	margin-right: -80px;
  
	&::placeholder {
	  font-size: 16px;
	  font-weight: 700;
	  color: $text-color-placehoder;
	}
  }
  
  .home-section {
	padding: 1rem 2rem;
  }
  
  main {
	position: relative;
  }
  
  .position-fonctionnement {
	display: flex;
	flex-wrap: wrap;
  }
  
  .hero-btn {
	color: $text-color-btn;
	padding: 1.5rem 3rem;
	text-align: center;
	background: $background-linear-gradient-color_1;
	background: linear-gradient(162deg, $background-linear-gradient-color_1 0%, $background-linear-gradient-color_2 100%);
	width: min-content;
	white-space: nowrap;
	margin: 4rem auto;
	border-radius: 30px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	cursor: pointer;
	transition: transform 800ms;
  
	&:hover {
	  filter: brightness(1.1);
	  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  
	}
  }
  
  .hero-item {
	background: $hero-color_5;
	padding: 3rem;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
  
	.hero-title {
	  font-size: 2.6rem;
	  padding: 2rem;
	}
  
	.hero-text {
	  font-size: $fs-28;
	  font-weight: 200;
	}
  }
  
  /* Menu fonctionnement */
  
  .list-element{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 2rem;
	padding: 0;
	width: 100%;
  }
  
  .list-full {
	display: flex;
	align-items: center;
	padding: 3rem;
	background: $main-list-color_6;
	gap: 2rem;
	margin-left: 1.5rem;
	box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
	border-radius: 2rem;
	position: relative;
	text-decoration: none;
  
	.list-number{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background: $background-linear-gradient-color_2;
	  color: $text-color-btn;
	  width: 3rem;
	  height: 3rem;
	  border-radius: 50%;
	  position: absolute;
	  left: -1.5rem;
	}
  }
  
  .fonctionnement-icone {
	color: $text-color-icone-fonctionnement;
  }
  
  .list-full:hover {
	color: $background-linear-gradient-color_2;
	box-shadow: 0 0 10px rgba(147, 86, 220, 0.5);
	transition: color 0.3s, box-shadow 0.3s;
  
	> span {
	  color: $background-linear-gradient-color_2;
	}
  }
  
  /* section cards restaurants */
  
  .section-title {
	margin-bottom: 2rem;
  }
  
  .restaurant-section {
	background: $main-list-color_6;
  }
  
  .restaurant-card {
	width: 100%;
	min-width: 2.3rem;
	border-radius: 2rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	cursor: pointer;
	position: relative;
	transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
	&:hover {
	  filter: brightness(1.1);
	  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	}
  
	img {
	  height: 18rem;
	  object-fit: cover;
	  width: 100%;
	  border-radius: 2rem 2rem 0 0;
	}
  
	.restaurant-card-text {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  padding: 2rem;
	}
  }
  
  .badge-new {
	background: $badge-color_7;
	color: $text-color-badge;
	font-weight: 500;
	padding: 0.7rem 1.5rem;
	border-radius: 0.3rem;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
  }
  
  /* Menu */
  
  .section-menu {
	background-color: $main-list-color_6;
	border-radius: 4rem 4rem 0 0;
	margin-top: -14rem;
	position: relative;
	width: 100%;
	padding: 2rem;
  }
  
  .menu-restaurants-image {
	object-fit: cover;
	width: 100%;
	min-height: 30em;
	margin-top: -234px;
  }
  
  #position-arrow {
	margin-left: 17px;
  }
  
  /* ****************coeur**************************** */
  
//   .container{
// 	display: block;
// 	position: relative;
// 	cursor: pointer;
// 	font-size: 16px;
// 	user-select: none;
// 	transition: 100ms;
	
// 	input {
// 		position: absolute;
// 		opacity: 0;
// 		cursor: pointer;
// 		height: 0;
// 		width: 0;
// 	  }
// }
  
//   .checkmark  {
// 	top: 0;
// 	left: 0;
// 	height: 1.5em;
// 	width: 1.5em;
// 	transition: 100ms;
// 	animation: dislike_effect 400ms ease;
//   }
  
//   .color-one {
// 	stop-color: $background-linear-gradient-color_1;
//   }
  
//   .color-two {
// 	stop-color: $background-linear-gradient-color_2;
//   }
  
//   .container {
// 	input:checked ~ .checkmark {
// 	  path {
// 		fill: url(#myGradient);
// 		stroke-width: 0;
// 	  }
  
// 	  animation: like_effect 400ms ease;
// 	}
  
// 	&:hover {
// 	  transform: scale(1.1);
// 	}
//   }
  
//   @keyframes like_effect {
// 	0% {
// 	  transform: scale(0);
// 	}
  
// 	50% {
// 	  transform: scale(1.2);
// 	}
  
// 	100% {
// 	  transform: scale(1);
// 	}
//   }
  
//   @keyframes dislike_effect {
// 	0% {
// 	  transform: scale(0);
// 	}
  
// 	50% {
// 	  transform: scale(1.2);
// 	}
  
// 	100% {
// 	  transform: scale(1);
// 	}
//   }
 
.container {
	// display: block;
	// position: relative;
	// cursor: pointer;
	// font-size: 16px;
	// user-select: none;
	// transition: 100ms;
	height: 100%;
 	position: relative;
}
i {
	position:absolute;
	top: 10%;
	right: 50%;
  }
  .fa-solid {
	opacity:0;
  }
  .fa-solid:hover{
	opacity:1;
	color:transparent; 
	background-clip:text;
	-webkit-background-clip:text;
	transition: all 0.4s ease-in-out;
	background-image: linear-gradient(to right,$background-linear-gradient-color_1 , $background-linear-gradient-color_2);
  }
  // 	input {
// 	  position: absolute;
// 	  opacity: 0;
// 	  cursor: pointer;
// 	  height: 0;
// 	  width: 0;
// 	}
  
// 	&:hover {
// 	  transform: scale(1.1);
// 	}
  
// 	input:checked ~ .checkmark {
// 	  path {
// 		fill: url(#myGradient);
// 		stroke-width: 0;
// 	  }
  
// 	  animation: like_effect 400ms ease;
// 	}
//   }
  
//   .checkmark {
// 	top: 0;
// 	left: 0;
// 	height: 1.5em;
// 	width: 1.5em;
// 	transition: 100ms;
// 	animation: dislike_effect 400ms ease;
//   }
  
//   .color-one {
// 	stop-color: $background-linear-gradient-color_1;
//   }
  
//   .color-two {
// 	stop-color: $background-linear-gradient-color_2;
//   }
  
//   @keyframes like_effect {
// 	0% {
// 	  transform: scale(0);
// 	}
  
// 	50% {
// 	  transform: scale(1.2);
// 	}
  
// 	100% {
// 	  transform: scale(1);
// 	}
//   }
  
//   @keyframes dislike_effect {
// 	0% {
// 	  transform: scale(0);
// 	}
  
// 	50% {
// 	  transform: scale(1.2);
// 	}
  
// 	100% {
// 	  transform: scale(1);
// 	}
//   }
  
  /* ************************************************** */
  
  .menu-title {
	display: flex;
	justify-content: space-between;
	font-family: Shrikhand;
	font-size: 22px;
	font-style: italic;
	font-weight: 400;
  }
  
  .menu-element-line {
	border-bottom: 3px $badge-color_7 solid;
	width: 40px;
  }
  
  /* debut carte menu */
  
  .menu-full {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .menu-listing {
	display: flex;
	flex-direction: column;
  }
  
  /* code delay pour l'affichage des menus */
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateY(-5px);
	}
  
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .menu-starter-delay, .menu-dishes-delay, .menu-desserts-delay {
	opacity: 0;
	animation: fadeIn 4s ease forwards;
  }
  
  .menu-starter-delay {
	animation-delay: 0.5s;
  }
  
  .menu-dishes-delay {
	animation-delay: 1s;
  }
  
  .menu-desserts-delay {
	animation-delay: 1.5s;
  }
  
  /* ************************************************ */
  
  .list-element-restaurant {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 2rem;
	padding: 0;
	width: 100%;
  }
  
  .menu-restaurants-card {
	background: $main-restaurant-card-color_3;
	height: 7rem;
	border-radius: 15px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
  
	/* animation: slideup 1s forwards; */
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 1;
	margin: 2rem 0 2rem 2rem;
  
	.menu-article-card {
	  padding: 1.5rem;
	  max-width: 100%;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  flex: 1;
	  display: flex;
	  justify-content: space-between;
	  gap: 1rem;
  
	  .menu-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
  
		.menu-restaurants-title {
		  font-size: 18px;
		  font-weight: 500;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		}
	  }
  
	  .menu-detail {
		font-weight: 300;
		overflow: hidden;
		text-overflow: ellipsis;
	  }
	}
  
	.menu-price {
	  font-weight: 600;
	  display: flex;
	  align-items: flex-end;
	}
  
	.menu-select {
	  background: $badge-color_7;
	  cursor: pointer;
	  height: auto;
	  width: 0;
	  opacity: 0;
	  border-radius: 0 15px 15px 0;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  
	  /* transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;  */
	}
  
	&:hover .menu-select {
	  opacity: 100%;
	  width: 7rem;
	}
  
	.menu-select {
	  font-size: 3rem;
	  color: $text-color-btn;
	  transform: rotate(-1turn);
	  transition: 0.8s ease;
	  transition-delay: 150ms;
	}
  }
  
  /* effet check */
  
  .span-size {
	font-size: 3rem;
  }
  
  .menu-restaurants-card {
	&:not(:hover) .menu-select span {
	  transform: rotate(1turn);
	  transition: transform 0.8s ease;
	  color: $text-color-btn;
	  transition-delay: 150ms;
	  font-size: 3rem;
	}
  
	&:hover .menu-select span {
	  display: block;
	  transform: rotate(-1turn);
	  transition: transform 0.8s ease;
	  color: $text-color-btn;
	  transition-delay: 150ms;
	  font-size: 3rem;
	}
  }
  
  .menu-price {
	transition: margin-right 0.3s ease-in-out;
  }
  
  .menu-restaurants-card:hover .menu-price {
	margin-right: 5px;
  }
  
  /* fin carte menu */
  /* footer */
  
  footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: $background-color-footer;
	color: $text-color-btn;
	padding: 3rem;
  
	.footer-title {
	  font-family: "Shrikhand", cursive;
	  font-style: italic;
	  font-weight: 700;
	  margin: 1rem 0rem;
	}
  
	.footer-link {
	  margin: 0.5rem 0rem;
	  align-items: center;
	  display: flex;
	  gap: 0.5rem;
	}
  
	.footer-icon {
	  font-size: 1.5rem;
	}
  
	.footer-icon-hand {
	  font-size: 1rem;
	}
  }
  
  @media (min-width: 600px) {
	.menu-restaurants-image {
	  object-fit: cover;
	  width: 100%;
	  height: 40em;
	  margin-top: -234px;
	}
  
	.menu-title {
	  display: flex;
	  justify-content: center;
	  gap: 30px;
	}
  
	.menu-listing {
	  display: flex;
	  flex-direction: column;
	  margin: 0px 120px 0px 120px;
	}
  }
  
  @media (min-width: 1000px) {
	/* .menu-full{  */
	/* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); 
  }*/
  
	.section-menu {
	  border-radius: 4rem 4rem 0 0;
	  position: relative;
	  width: 70%;
	  padding: 2rem;
	  margin: -16rem auto 0 auto;
	}
  
	.list-element {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
	  margin: 0 100px;
	}
  
	.list-full {
	  padding: 20px;
	}
  
	.list-element-restaurant {
	  display: grid;
	  grid-template-columns: repeat(2, minmax(0, 1fr));
	  margin: 0 auto;
	  width: 80%;
	  grid-gap: 30px;
	}
  
	.list-element h3 {
	  font-size: 16px;
	}
  
	.menu-restaurants-image {
	  object-fit: cover;
	  width: 100%;
	  height: 40em;
	  margin-top: -234px;
	}
  
	footer {
	  display: flex;
	  flex-direction: row-reverse;
	  gap: 5px;
	}
  
	.essai {
	  display: flex;
	  gap: 5px;
	}
  }
  
  /*# sourceMappingURL=style.css.map */
  