
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin: 0 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

 #icon{ 
  display: flex;
}

.header {
  background: white;
  z-index: 2;
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
  height: 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}
.header .backLink {
  margin-left: 2rem;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header .header-logo {
  margin: auto;
  height: 3rem;
}
.location-item{
  background: #eaeaea;
  font-weight: 500;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.home-section{
  padding: 6rem 2rem;
}
main {
  position: relative;
}

.hero-btn {
  color: white;
  padding: 1.5rem 3rem;
  text-align: center;
  background: #ff79da;
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  width: min-content;
  white-space: nowrap;
  margin: 4rem auto;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  
}
.hero-btn:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.hero-item {
  background: whitesmoke;
  padding: 3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.hero-item .hero-title {
  font-size: 2.6rem;
  padding: 2rem;
}
.hero-item .hero-text {
  font-size: 1.8rem;
  font-weight: 200;
}

/* Menu fonctionnement */
.home-section{
  padding: 6rem 2rem;
}
ul{
  list-style: none;
}

.list-element{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0;
}

.list-full{
  display:flex;
  align-items: center;
  padding: 3rem;
  /* width: 25.15rem; */
  /* height: 4.5rem; */
  background: #f6f6f6;
  gap: 2rem;
  margin-left: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
  border-radius: 2rem;
  position: relative;
}

 .list-full .list-number{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9356dc;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  left: -1.5rem;
}

.fonctionnement-icone{
  color:#7E7E7E;
}

.fonctionnement-icone:hover{
  color: #9356DC;
}
/* section cards restaurants */
.section-title{
  margin-bottom: 2rem;
}
.restaurant-section {
  background: #f6f6f6;
}
.restaurant-card{
  width: 100%;
  min-width: 2.3rem;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  position: relative;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.restaurant-card:hover{
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.restaurant-card img{
  height: 18rem;
  object-fit: cover;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

 .restaurant-card .restaurant-card-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.badge-new{
  background: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

/* Menu */

.section-menu{
  background-color: #F6F6F6;
  border-radius: 4rem 4rem 0 0 ;
  margin-top: -4rem;
  position: relative;
  width: 100%;
  padding: 2rem;

}
.menu-restaurants-image{
  object-fit:cover;
  width:100%;
  min-height:30em;
}
#position-arrow{
  margin-left: 17px;
}
.menu-title{
  display: flex;
  justify-content: space-between;
  font-family: Shrikhand;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
}
.menu-element-line{
  border-bottom: 3px #008766 solid;
  width: 40px;
}
 /* debut carte menu */
.menu-restaurants-card{ 
  background: white;
  height: 7rem;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  animation: slideup 1s forwards;
  opacity: 1;
  margin:2rem 0 2rem 2rem ;
}
.menu-restaurants-card .menu-article-card{
  padding: 1.5rem;
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.menu-restaurants-card .menu-article-card .menu-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  }
  .menu-restaurants-card .menu-article-card .menu-restaurants-title .menu-text{
    font-size: 1.6rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu-restaurants-card .menu-article-card .menu-detail{
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .menu-restaurants-card .menu-price{
      font-weight: 600;
      display: flex;
      align-items: flex-end;
      }
      /* effet check */
.menu-restaurants-card .menu-select {
background: #99e2d0;
cursor: pointer;
height: auto;
width: 0;
opacity: 0;
border-radius: 0 15px 15px 0;
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
        
.menu-restaurants-card .menu-select {
          font-size: 3rem;
          color: white;
          transform: rotate(360deg);
          transition: 0.4s ease-in-out;
}
        .menu-restaurants-card:hover .menu-select {
          opacity: 100%;
          width: 7rem;
        }*/
      /* fin effet check */
  /* .menu-article-card{ 
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}*/

/* .menu-restaurants-info{ 
 
  padding: 0rem;
  max-width: 100%;
  flex: 1;
  display:flex;
  justify-content: space-between;
  gap: 0rem;
  flex-direction: column;

} */
.menu-info , .menu-restaurants-title{ 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-check{
  top: 0%;
  right: 0;
  transform: translateX(100%) rotate(0deg);
  opacity: 0;
  margin-right: 20px;
  transition: transform 0.4s ease-in-out, opacity 0s ease-in-out;
}

.menu-restaurants-card:hover .menu-check {
  transform: translateX(0) ;
  opacity: 1;
  background-color: #99e2d0;
  width: 7rem;
  height: 87px;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
 .menu-restaurants-card:hover .menu-check span{ 
  transform: rotate(360deg); 
  transition: transform 0.8s ease; 
  color: white
}

.menu-price {
  transition: margin-right 0.4s ease-in-out;
}
.menu-restaurants-card:hover .menu-price {
  margin-right: 100px; 
}
/* fin carte menu */
/* nouveau code */
/* .menu-restaurants-card{ 
  background: white;
  height: 7rem;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  animation: slideup 1s forwards;
  opacity: 1;
}
.menu-restaurants-card .menu-article-card{
  padding: 1.5rem;
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.menu-restaurants-card .menu-article-card .menu-text{
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
white-space: nowrap;
}
.menu-restaurants-card .menu-article-card .menu-restaurants-title .menu-text{
font-size: 1.6rem;
font-weight: 400;
overflow: hidden;
text-overflow: ellipsis;
}
.menu-restaurants-card .menu-article-card .menu-detail{
font-weight: 200;
overflow: hidden;
text-overflow: ellipsis;
}
.menu-restaurants-card .menu-price{
font-weight: 600;
display: flex;
align-items: flex-end;
}

.menu-restaurants-card .menu-select {
background: #99e2d0;
cursor: pointer;
height: auto;
width: 0;
opacity: 0;
border-radius: 0 15px 15px 0;
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.menu-restaurants-card .menu-select {
  font-size: 3rem;
  color: white;
  transform: rotate(360deg);
  transition: 0.4s ease-in-out;
}
.menu-restaurants-card:hover .menu-select {
  opacity: 100%;
  width: 7rem;
}*/

/* fin nouveau code */
/* fin menu */
/* footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #353535;
  color: white;
  padding: 3rem;
}
footer .footer-title{
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 700;
  margin: 1rem 0rem;
}
footer .footer-link{
  margin: 0.5rem 0rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
footer .footer-icon {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */
